{% extends 'base.html.twig' %}

{% block body %}
    <h1>Applications list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Storeappid</th>
                <th>Issandbox</th>
                <th>Publisherid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for application in applications %}
            <tr>
                <td><a href="{{ path('application_show', { 'id': application.id }) }}">{{ application.id }}</a></td>
                <td>{{ application.storeAppId }}</td>
                <td>{% if application.isSandBox %}Yes{% else %}No{% endif %}</td>
                <td>{{ application.publisherId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('application_show', { 'id': application.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('application_edit', { 'id': application.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('application_new') }}">Create a new application</a>
        </li>
    </ul>
{% endblock %}
